<div class="bg-white shadow overflow-hidden sm:rounded-lg p-14">
    <div class="px-4 py-5 sm:px-6">
        <div>
            <h3 class="text-lg leading-6 font-medium text-gray-900">
                Settings
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                This is your personal information
            </p>
        </div>
        <div class="mt-5 border-t border-gray-200">
            <dl class="divide-y divide-gray-200">
                <form action="/users/settings/{{_id}}" method="POST">
                    <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
                        <dt class="text-sm font-medium text-gray-500">
                            Name
                        </dt>
                        <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0
                            sm:col-span-2">
                            <input
                                class="flex-grow appearance-none w-8 px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                type="text" name="name" id="name" placeholder={{name}}>
                            <span class="ml-4 flex-shrink-0">
                                <button id="save" class="bg-white rounded-md font-medium
                                    text-indigo-600 hover:text-indigo-500
                                    focus:outline-none focus:ring-2
                                    focus:ring-offset-2 focus:ring-indigo-500">
                                    Save
                                </button>
                            </span>
                        </dd>
                    </div>
                </form>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Surname
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0
                        sm:col-span-2">
                        <input
                            class="flex-grow appearance-none w-8 px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            type="text" placeholder={{surname}}>
                        <span class="ml-4 flex-shrink-0">
                            <button id="edit-2" type="button" class="bg-white rounded-md font-medium
                                text-indigo-600 hover:text-indigo-500
                                focus:outline-none focus:ring-2
                                focus:ring-offset-2 focus:ring-indigo-500">
                                Edit
                            </button>
                        </span>
                    </dd>
                </div>

                <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Age
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0
                        sm:col-span-2">
                        <input
                            class="flex-grow appearance-none w-8 px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            type="text" placeholder={{age}}>
                        <span class="ml-4 flex-shrink-0">
                            <button id="edit-3" type="button" class="bg-white rounded-md font-medium
                                text-indigo-600 hover:text-indigo-500
                                focus:outline-none focus:ring-2
                                focus:ring-offset-2 focus:ring-indigo-500">
                                Edit
                            </button>
                        </span>
                    </dd>
                </div>

                <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Gender
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0
                        sm:col-span-2">

                        <select name="gender" id="gender"
                            class="flex-grow py-3 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
                            <option selected value="{{gender}}">{{gender}}</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>

                        <button id="edit-3" type="button" class="ml-4 bg-white rounded-md font-medium
                                text-indigo-600 hover:text-indigo-500
                                focus:outline-none focus:ring-2
                                focus:ring-offset-2 focus:ring-indigo-500">
                            Edit
                        </button>
                        </span>
                    </dd>
                </div>

                <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Height
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0
                        sm:col-span-2">
                        <input
                            class="flex-grow appearance-none w-8 px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            type="text" placeholder={{height}}>
                        <span class="ml-4 flex-shrink-0">
                            <button id="edit-3" type="button" class="bg-white rounded-md font-medium
                                text-indigo-600 hover:text-indigo-500
                                focus:outline-none focus:ring-2
                                focus:ring-offset-2 focus:ring-indigo-500">
                                Edit
                            </button>
                        </span>
                    </dd>
                </div>

                <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Weight
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0
                        sm:col-span-2">
                        <input
                            class="flex-grow appearance-none w-8 px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            type="text" placeholder={{weight}}>
                        <span class="ml-4 flex-shrink-0">
                            <button id="edit-3" type="button" class="bg-white rounded-md font-medium
                                text-indigo-600 hover:text-indigo-500
                                focus:outline-none focus:ring-2
                                focus:ring-offset-2 focus:ring-indigo-500">
                                Edit
                            </button>
                        </span>
                    </dd>
                </div>

                <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Wrist diameter
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0
                        sm:col-span-2">
                        <input
                            class="flex-grow appearance-none w-8 px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            type="text" placeholder={{wristDiameter}}>
                        <span class="ml-4 flex-shrink-0">
                            <button id="edit-3" type="button" class="bg-white rounded-md font-medium
                                text-indigo-600 hover:text-indigo-500
                                focus:outline-none focus:ring-2
                                focus:ring-offset-2 focus:ring-indigo-500">
                                Edit
                            </button>
                        </span>
                    </dd>
                </div>

                <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Femur diameter
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0
                        sm:col-span-2">
                        <input
                            class="flex-grow appearance-none w-8 px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            type="text" placeholder={{femurDiameter}}>
                        <span class="ml-4 flex-shrink-0">
                            <button id="edit-3" type="button" class="bg-white rounded-md font-medium
                                text-indigo-600 hover:text-indigo-500
                                focus:outline-none focus:ring-2
                                focus:ring-offset-2 focus:ring-indigo-500">
                                Edit
                            </button>
                        </span>
                    </dd>
                </div>

                <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Email
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0
                        sm:col-span-2">
                        <input
                            class="flex-grow appearance-none w-8 px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            type="text" placeholder={{email}}>
                        <span class="ml-4 flex-shrink-0">
                            <button id="edit-3" type="button" class="bg-white rounded-md font-medium
                                text-indigo-600 hover:text-indigo-500
                                focus:outline-none focus:ring-2
                                focus:ring-offset-2 focus:ring-indigo-500">
                                Edit
                            </button>
                        </span>
                    </dd>
                </div>

                <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Phone
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0
                        sm:col-span-2">
                        <input
                            class="flex-grow appearance-none w-8 px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            type="text" placeholder={{phone}}>
                        <span class="ml-4 flex-shrink-0">
                            <button id="edit-3" type="button" class="bg-white rounded-md font-medium
                                text-indigo-600 hover:text-indigo-500
                                focus:outline-none focus:ring-2
                                focus:ring-offset-2 focus:ring-indigo-500">
                                Edit
                            </button>
                        </span>
                    </dd>
                </div>

                <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Password
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0
                        sm:col-span-2">
                        <input
                            class="flex-grow appearance-none w-8 px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            type="text" placeholder=**********>
                        <span class="ml-4 flex-shrink-0">
                            <button id="edit-3" type="button" class="bg-white rounded-md font-medium
                                text-indigo-600 hover:text-indigo-500
                                focus:outline-none focus:ring-2
                                focus:ring-offset-2 focus:ring-indigo-500">
                                Edit
                            </button>
                        </span>
                    </dd>
                </div>

                <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Profile picture
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0
                        sm:col-span-2">
                        <span class="flex-grow">{{imgProfile}}</span>
                        <span class="ml-4 flex-shrink-0">
                            <button id="edit-3" type="button" class="bg-white rounded-md font-medium
                                text-indigo-600 hover:text-indigo-500
                                focus:outline-none focus:ring-2
                                focus:ring-offset-2 focus:ring-indigo-500">
                                Edit
                            </button>
                        </span>
                    </dd>
                </div>

                <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Profile header
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0
                        sm:col-span-2">
                        <span class="flex-grow">{{imgHeader}}</span>
                        <span class="ml-4 flex-shrink-0">
                            <button id="edit-3" type="button" class="bg-white rounded-md font-medium
                                text-indigo-600 hover:text-indigo-500
                                focus:outline-none focus:ring-2
                                focus:ring-offset-2 focus:ring-indigo-500">
                                Edit
                            </button>
                        </span>
                    </dd>
                </div>

            </dl>
        </div>
    </div>
</div>